body {
    font-family: Arial, sans-serif;
    color:floralwhite;
    margin: 20px;
    background-color:rgb(144, 31, 197);
    }

    label, select {
    display: block;
    margin-top: 10px;
    background-color:

    }


